.edit-todo-list-item-form {
    margin-top: 85px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

    .edit-todo-list-item-form-description {
        border: 1px solid #ccc;
        padding: 6px 6px;
    }
