.todo-list-detail {
    margin-top: 95px;
}

    .todo-list-detail-title {
        font-size: 20px;
    }

    .todo-list-detail-description h3,
    .todo-list-detail-description h4,
    .todo-list-detail-description h5 {
        margin: 20px 0 10px;
    }

    .todo-list-detail-description h3 {
        font-size: 18px;
    }

    .todo-list-detail-description h4 {
        font-size: 17px;
    }
