.container {
    margin-top: 20px;
}

.todo-list {

}
    .todo-list-thead-checked {
        width: 30px;
    }

    .todo-list-thead-actions {
        width: 50px;
    }

.todo-list-item {

}

    .todo-list-item--current {
        background-color: #fff9ca;
    }

.todo-list-detail {
    margin-top: 95px;
}

    .todo-list-detail-title {
        font-size: 20px;
    }
